<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Side Bar Menu</title>
  </head>
  <body>
    <div class="sidebar">
      <header>
        <p>Cars <br>Management</p>
      </header>
    <ul>
      <li> <a href="" routerLink="cars"><i class="fa fa-car"></i>Cars</a></li>
      <li> <a href="" routerLink="drivers"><i class="far fa-id-card"></i>Drivers</a></li>
      <li> <a href="" routerLink="admin"><i class="fas fa-user-shield"></i>Admin</a></li>
      <li> <a href="" routerLink="roles"><i class="fa fa-user"></i>Role</a></li>
      <li> <a href="" routerLink="dailys"><i class="fa fa-book"></i>Dailys</a></li>
      <li> <a href="" routerLink="leave"><i class="fas fa-car-side"></i>Leave</a></li>
      <li> <a href="" routerLink="maintence"><i class="fas fa-exclamation"></i>Maintence</a></li>
    </ul>
    </div>
  </body>
  
