<nav>
  <ul>
    <li><a href="#">May Oo Thar<span class="fas fa-angle-down"></span></a>
      <ul>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Update Password</a></li>
        <div class="dropdown-divider"></div>
        <li><a href="#">Log Out</a></li>
      </ul>
    </li>
    <li><a href="#">English <span class="fas fa-exchange-alt"></span> Myanmar</a></li>
    <li class="search-icon">
      <input type="search" placeholder="Search">
      <label class="icon"> <span class="fa fa-search"></span></label>
    </li>
  </ul>
</nav>
